body{
    background-color: rgb(219, 209, 228);
}

h1{
    color:blueviolet;
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}


.tooltip {
    color:blueviolet;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
   
  }
  
  .tooltip .tooltiptext {
   visibility: hidden;
    width: 30%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-top: 30px;
    position: absolute;
    left: 40%;
    margin-left: -60px;
    
    
   
   
  }
  
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }